/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root{
  --main-color: #ff6347;
  --dim-color: #F76146;
  --off-white: #ccc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

a.button {
  color: #fafafa;
  background-color: var(--main-color);
  padding: 15px 25px;
  line-height: 60px;
  transition: .3s;
}

.row{
  width: 1168px;
  margin: auto;
}
/* Header Area */
.header{
  background-color: #fafafa;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.navbar .nav-logo a{
  color: #101010;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.nav-menu ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu ul li{
  list-style: none;
  padding: 15px 0;
}

.nav-menu ul li a{
  text-decoration: none;
  color: #101010;
  margin: 0 15px;
  font-weight: 600;
  font-family: 'Open Sans';
  transition: .3s;
}

.nav-menu ul li a:hover{
  color: var(--main-color);
}

.cart i{
  font-size: 25px;
}
/* #Header Area End# */

/* Main Area Start */
.main .row{
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.main .row .main-text{
  flex-basis: 50%;
  margin-right: 2%;
}

.main .row .main-text h1{
  font-size: 168px;
  font-weight: 600;
  letter-spacing: 20px;
  line-height: 150px;
}

.main .row .main-text p{
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 40px;
  line-height: 120px;
}

.main .row .main-text a.button {
  color: #fafafa;
  background-color: var(--main-color);
  padding: 15px 25px;
  line-height: 60px;
  transition: .3s;
}

.main .row .main-text a.button:hover {
  background-color: var(--dim-color);
}

.main .row .main-img{
  flex-basis: 400px;
  margin-left: 50px;
}
/* #Main Area End# */

/* Backpack Area Start */
.backpack .row{
  display: flex;
  align-items: center;
  justify-content: space-around;  
}

.all-backpack{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.all-backpack {
  padding: 10px 80px;
  background-color: #fafafa;
}

.all-backpack img {
  max-width: 150px;
}
/* #Backpack Area End# */

/* Featured Area Start */
.featured{
  margin-top: 100px;
}

.featured-header{
  text-align: center;
  margin: 100px auto;
}

.featured-content {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.col-2{
  background-color: #fafafa;
  margin-right: 20px; 
}

.featured-content span{
  color: #fafafa;
  padding: 8px 12px;
  background-color: var(--main-color);
}
/* #Featured Area End# */


/* Spacial Offer */
.special-offer{
  padding-top: 40px;
  width: 100%;
  height: 300px;
  background-image: url("/assets/img/offer.jpg");
  background-size: cover;
  opacity: .9;
  background-position: center;
  margin: 100px auto;
  text-align: center;
}

.special-offer h1, p{
  color: #fafafa;
  padding-top: 10px;
}

.special-offer .button{
  margin-top: 50px;
}
/* #Spacial Offer End# */


/* New Offer Area Start */
.new{
  margin-top: 100px;
}

.new .new-header{
  margin-bottom: 40px;
  text-align: center;
}

.new .row .col-3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
/* #New Offer Area End# */


/* Newsletter Area */
.newsletter{
  margin: 100px auto;
}

.news-header{
  text-align: center;
  margin: 20px auto;
}

.news-header p{
  color: #101010;
}

.col-4{
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-4 input{
  padding: 14px 100px;
  font-family: 'Open Sans';
  background-color: #ddd;
  border: none;
}

.col-4 input:focus{
  outline: none;
}

.col-4 .button{
  padding: 12px 20px;
}

.partner{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: .8;
}

.partner img{
  width: 90px;
  height: auto;
  margin: 0 100px;
}
/* #Newsletter Area End# */

/* Footer Area Start*/
.footer{
  padding-top: 40px;
  height: 400px;
  background-color: #101010;
  color: #fafafa;
}

.footer .col-5{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .col-5 img{
  width: 90px;
  height: auto;
}

.footer i{
  padding-top: 10px;
  padding-right: 15px;
  font-size: 22px;
}

.footer h2{
  font-size: 25px;
  font-weight: 700;
}

.footer li{
  list-style: none;
}

.footer li a{
  text-decoration: none;
  color: #ccc;
  padding: 10px 0;
  font-weight: 600;
}
/* #Footer Area End# */

